.content {
  display: grid;
  grid-template-columns: repeat(2, 6fr);
  gap: 64px;
}

.main--form > .header > p {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.main--form > .header > h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.02em;
  text-align: left;
}

#names {
  display: flex;
  gap: 32px;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 48px;
}

.contactLabel {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
}

.contactInput {
  padding: 14px 10px;
  background-color: #fff;
  box-shadow: 0px 1px 2px 0px #1018280d;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  display: block;
}

.contactGroup {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.main--form {
  padding: 40px 48px;
}

input[type="number"] {
  padding-left: 50px;
}
.input {
  position: relative;
}
.input > select {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border: 1px solid #d0d5dd;
  outline: none;
}

textarea {
  height: 134px;
  padding: 12px, 14px;
  border-radius: 8px;
  border: 1px;
  gap: 8px;
  width: 100%;
}

.checkboxDiv {
  margin-top: 20px;
  display: flex;
  gap: 24px;
}
.checkboxDiv > input {
  width: fit-content;
}

.checkboxDiv > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.sendBtn {
  padding: 10px 20px;
  background: #023e8a;
  color: #fff;
  border-radius: 40px;
  border: none;
  margin-top: 32px;
  gap: 8px;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .content {
    gap: 20px;
    max-height: calc(100vh - 100px);
    justify-content: center;
    padding: 0 10px;
  }

  .content > img {
    display: block;
    width: 100%;
    /* height: 60%; */
    object-fit: cover;
    object-position: center bottom;
  }
}

@media only screen and (max-width: 820px) {
  .content {
    margin: 0 auto;
    grid-template-columns: 1fr;
    padding: 0 48px;
  }
  .content > img {
    display: none;
  }
}


@media only screen and (max-width: 600px) {
    .content {
      grid-template-columns: 12fr;
      padding: 0;
    }
    .content > img {
      display: none;
    }
  
    .main--form {
      padding: 0 16px;
    }
  
    .contact {
      padding: 20px 16px;
      gap: 24px;
    }
  
    #names {
      flex-direction: column;
      gap: 24px;
    }
  
    .contact {
      margin-top: 32px;
    }
    .main--form > .header > h1 {
      margin-bottom: 4px;
      font-size: 24px;
      line-height: 36px;
    }
  }
  

input{
    width: 100%;
}